@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
	font-family: 'Helvetica Neue';
	src: url("../public/fonts/HelveticaNeueRoman.otf") format('opentype');
	
	font-weight: normal;
	font-style: normal;
}

.xd svg {
	width: 300px;
}

.xd svg path{
	fill: green !important;
}
.xd svg text{
	fill: green !important;
}


.bg {
	border-top: 2px solid rgb(69, 8, 223);
	border-radius: 32px 32px 0 0;
	background: linear-gradient(180deg, rgb(15, 13, 62), rgb(19, 14, 36) 14.96%, rgb(0, 0, 0) 100%);
	overflow: hidden; /* Add this line */
}

.bg::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 32px; /* Adjust this value to match your border-radius */

	z-index: 1;
}


.glow-effect {
	filter: blur(16px);
	background: linear-gradient(-45deg, rgb(254, 183, 0), rgb(255, 219, 127) 66.095%);
	opacity: 0.5;
	width: 20px;
	height: 20px;
}